.home{
    background-color: #052142;
    height: 90vh;
    width: 100%;
    display: flex;
}

.home-intro{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 100px;
    font-size: 30px;
    color: white;
}

.home-image{
    width: 50%;
    height: 80vh;
    
}

image{
    margin:50px auto;
    height: 80vh;
}

.title{
    animation-name: moveRight;
    animation-duration: 0.7s;
}

.titleTwo{
    animation-name: moveLeft;
    animation-duration: 1s;
}
.titleThree{
    animation-name: moveRight;
    animation-duration: 1.3s;
    color: purple;
    margin-bottom: 10px;
}

.text{
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
}
.button{
    font-size: 18px;
    border: 2px solid white;
    border-radius: 5px;
    outline: none;
    background-color: #11cf99;
    color: black;
    padding: 12px 25px;
    position: relative;
    animation-name: moveUp;
    animation-duration: 1s;
    cursor: pointer;
}

.button:before{
    content: "";
    position: absolute;
    z-index:-1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #eeff00;
    transform: scaleX(0);
    transition: 300ms ease-out;

}

.button:hover:before{
    transform: scaleX(1);
}

a{
    text-decoration: none;
}

@keyframes moveRight{
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveLeft {

    0% {
        opacity: 0;
        transform: translateX(-150px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveUp {

    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and(max-width: 1100px) {

    .home-intro{
        width: 100vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        font-size: 50px;
        margin: 0 auto;
        padding-left: 80px;

    }

    /* .home-image{
        display: none;
    } */

    .button{
        padding: 10px 20px;
    }
    
}



@media  screen and(max-width:800px) {
    .home-intro{
        padding-left: 40px;
        font-size: 40px;
    }

    /* .home-image{
        display: none;
    } */
    .button{
        padding: 8px 16px;
    }
}

@media screen and( max-width:600px) {
    .home-intro{
        font-size: 30px;
    }

    .text{
        font-size: 24px;

    }

    .button{
        padding: 6px 12px;
    }
    
}